<div class="sidebar-container">
  <div class="sidebar-container__top">
    <input type="text" />
    <button class="notif-btn">
      <img src="" />
    </button>
    <button class="upload-btn">
      <img src="" />
    </button>
  </div>

  <div class="sidebar-container__suggestions">
    <div class="header">
      <p class="title">Suggestions For You</p>
      <a class="">See All</a>
    </div>
  </div>

  <div class="sidebar-container__latest">
    <p class="title">Latest Post Activity</p>
    <div class="banner"></div>
  </div>
  <app-footer-nav></app-footer-nav>
</div>
